In [1]:
import json
import os
import pandas as pd
import requests
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta
from dotenv import load_dotenv
pd.set_option('display.max_columns', 50)
load_dotenv()

True

In [2]:
api_key = os.getenv('ELECTRICITYMAPS_API')
endpoint = 'https://api.electricitymap.org/v3/zones'
header = {'auth-token': api_key}

In [3]:
response = requests.get(endpoint, header)
zone_data = response.json()

In [25]:
zone_code = []
zone_name = []
for key, value in zone_data.items():
    zone_code.append(key)
    zone_name.append(value['zoneName'])

raw_data = {'zone_code': zone_code, 'zone_name': zone_name}

In [26]:
zone_data_df = pd.DataFrame(raw_data)

In [27]:
zone_data_df.head()

  zone_code             zone_name
0        AD               Andorra
1        AE  United Arab Emirates
2        AF           Afghanistan
3        AG   Antigua and Barbuda
4        AL               Albania