In [ ]:
/*
Which 10 companies make the most money? Company name and the sum 
of the fare needed only order by descending order for the fares.
*/

SELECT 
    pt.payment_type,
    c.company,
    sum(tt.trip_total) as trip_total
FROM chicago_taxi_db.taxi_trips as tt
inner join chicago_taxi_db.payment_type as pt on pt.payment_type_id = tt.payment_type_id
inner join chicago_taxi_db.company as c on c.company_id = tt.company_id
group by c.company, pt.payment_type 
order by sum(tt.trip_total) desc
limit 10

In [ ]:
/*
Show the 10 pickup community areas with the most rides. Community area 
name and count of rides, descending order for the rides.
*/

SELECT 
    ca.community_name,
    count(pickup_community_area_id) as pickup_number
FROM chicago_taxi_db.taxi_trips as tt
inner join chicago_taxi_db.community_areas as ca on ca.area_code = tt.pickup_community_area_id
group by ca.community_name
order by count(pickup_community_area_id) desc
limit 10

In [ ]:
/*
Get the daily count of the taxi rides. Use the names of the days instead of 
numbers (Monday = 1, Tuesday = 2, etc.).
*/

SELECT 
    case dt."day of name" 
        when 'Saturday' then 'Szombat'
        when 'Friday' then 'Péntek'
        when 'Monday' then 'Hétfő'
        when 'Tuesday' then 'Kedd'
        when 'Wednesday' then 'Szerda'
        when 'Thursday' then 'Csütörtük'
        when 'Sunday' then 'Vasárnap'
        else 'Days of Schrödinger'
    end as "Hungarian days",
    count(pickup_community_area_id) as pickup_number
FROM chicago_taxi_db.taxi_trips as tt
inner join chicago_taxi_db.date as dt on dt.date = date(tt.trip_start_timestamp)
group by dt."day of name", dt.day
order by dt.day